<%- include("partials/header") -%>

<h1>Compose</h1>

<div class="container">
  <form action="/" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="postTitle" />
      <label for="post">Post</label>
      <textarea class="form-control" rows="5" cols="30" name="postBody"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </form>
</div>

<%- include("partials/footer") -%>
